version: 1.0.{build}

branches:
  # whitelist
  only:
    - nightly-builds

image:
  - macos-bigsur

# scripts that are called at very beginning, before repo cloning
init:
  - git config --global core.autocrlf input

# scripts that run after cloning repository
for:
  -
    matrix:
      only:
        - image: macos-bigsur

    before_build:
      - echo "Mac don't need any before_build steps."

# Building bottles shell script.
build_script:
  - ./build-formula.sh -f Formula/_aws-sam-cli-nightly.rb -b bottle-configs/_aws-sam-cli-nightly.json

artifacts:
  - path: "build/*.bottle.tar.gz"
